<div class="container mt-3">
  <div class="card">
    <div class="card-body">


      <h4>Dashboard de clientes</h4>
      <p>Seja bem vindo ao sistema de controle de clientes.</p>


      <div class="row">
        <div class="col-md-7">
          <div [chart]="grafico"></div>
        </div>
        <div class="col-md-5">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>Quantidade de clientes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dados">
                <td>{{ item.nomeCategoria }}</td>
                <td>{{ item.quantidadeClientes }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>




